{% extends "mailing/base.html" %}
{% block content %}
{% for object in object_list %}
         <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm">
              <div class="card-header py-3">
                <h4 class="my-0 fw-normal">Тема рассылки-{{object.letter.title}}</h4>
              </div>
              <div class="card-body">
                <h1 class="card-title pricing-card-title">{{object.date_from}}-<small class="text-body-secondary fw-light">{{object.date_from}}</small></h1>
                <ul class="list-unstyled mt-3 mb-4">
                  <li>Период-{{object.get_period_display}}</li>
                  <li>Статус-{{object.get_status_display}}</li>
                  <li>Период-{{object.get_period_display}}</li>
                  <li>Период-{{object.get_period_display}}</li>
                </ul>
                <a role="button"  class="w-100 btn btn-lg btn-outline-primary"  href="{% url 'mailing_detail' object.pk %}" >Детали</a>


              </div>
            </div>
          </div>
{% endfor %}
{% endblock %}